@import "variables";

@mixin container {
  width: 100%;

  &__inner {
    max-width: $site-max-width;
    margin: 0 auto;
    padding: $gutter-2;
  }
}

@mixin content-section {
  margin-top: $gutter-6;
}

@mixin transition(
  $prop : all,
  $duration : 0.3s,
  $ease : ease-out
) {
  transition: $prop $duration $ease;
  backface-visibility: hidden;
}
